*{
    margin: 0%;
    padding: 0%;
}

/* Index/Inicio */
h1{
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
    background-color: rgb(106, 9, 170);

}
.tituloXerox{
    padding: 13px;
}
.tituloXerox:hover{
    animation: XEROX 1s;
}
@keyframes XEROX{
    0%{
        border-radius: 50%;
    }
    25%{
        
    }
    40%{
        background-color: rgb(210, 141, 250);
    }
}
h2{
    margin: 30px 30px 0px 30px;
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    margin: 30px 30px 0px 30px;
    font-family: Arial, Helvetica, sans-serif;
}
h4{
    text-transform: uppercase;
}
a{
    list-style-type: none;
    text-decoration: none;
    color: azure;
}
header{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: black;
    background-color: rgb(106, 9, 170);
    padding: 5px;
}
body{
    background-color: azure;
}
.xeroxNav{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    color: black;
    background-color: rgb(106, 9, 170);
    padding: 5px;
    letter-spacing: 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content:space-evenly ;
}
.xeroxLista{
    display: inline-block;
    padding: 15px;
    color: black;
    text-decoration: none;
    transition-property: all;
    transition-duration: 95ms;

}
.xeroxLista:hover{
    transform: scale(1.5);
}
nav ul li a{
    text-decoration: none;
    color: azure;
    padding: 5px;
}
footer{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 300px;
    padding: 30px;
    color: azure;
    background-color: rgb(96, 102, 102);
    display: flex;
    flex-direction: column;
}
.footerRedes{
    width: 30px;
}
section a{
    text-decoration: none;
    color: azure;
}
.imagenLista{
    margin: 30px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    border: medium;
}
section ul li img{
    image-rendering: optimizeQuality;
    width: 200px;
    height: 325px;
    transition-duration: 95ms;
}
section ul li img:hover{
    transform: scale(1.2);
}
.imagenCartas{
    height: 250px;
    width: 250px;
}

/* Contactos */
.contactoNav{
    margin: 30px 0px 0px 150px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
}
.contactoComentario{
    margin: 0px 0px 15px 0px;
    display: grid;
    grid-template-rows: 38px 5px;
    grid-template-columns: 270px;
}
main div ul li img{
    margin: 0px 15px;
}
.contactoInfo{
    margin: 30px 0px 0px 150px;
    border: 0ch;
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
}
div{
    margin: 20px;
    list-style-type: none;
    display: grid;
    align-items: baseline;
    grid-template-columns: 1fr 2fr;
    width: 700px;
}
div ul li a{
    color: black;
}
div ul li img{
    width: 25px;
}
.enviar{
    display: flex;
    justify-content: end;
    width: 700px;
}