.banner{
	padding: 4rem 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        gap: 10px;
        background-image:linear-gradient(
                rgba(5, 7, 12, 0.5),
                rgba(5, 7, 12, 0.5)),
                url(../img/marvel-banner.jpg);
        background-position: 50% 50%;
        background-size: cover;
        background-attachment: fixed;
        margin-bottom: 2rem;
}
.banner1{
	@extend .banner;
	background-image:linear-gradient(
        rgba(5, 7, 12, 0.5),
        rgba(5, 7, 12, 0.5)),
        url(../img/5265-SeriesHeaders_OP_2000x800_wm.jpg);
	background-size: auto
}
.banner2{
	@extend .banner;
	background-image:linear-gradient(
        rgba(5, 7, 12, 0.5),
        rgba(5, 7, 12, 0.5)),
        url(../img/0568794.jpg);
	background-size: auto;
	background-position: 0% 30%
}
.banner3{
	@extend .banner;
	background-image:linear-gradient(
        rgba(5, 7, 12, 0.5),
        rgba(5, 7, 12, 0.5)),
        url(../img/YuGiOh.jpg);
}