.imagenLista {
	margin: 30px 30px 30px 30px;
	display: inline-block;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 600;
	text-align: center;
	font-size: 14px;
	display: grid;
	justify-items: center;
	text-transform: uppercase;
	justify-content: center;
    .imagenCartas {
	    height: 250px;
	    width: 250px;
    }
}