main {
	div.contactoDiv{
		margin: 20px 0px 20px 0px;
		display: grid;
		align-items: start;
		grid-template-columns: 1fr;
		width: 600px;
		grid-template-areas: "ul form";
		box-sizing: border-box;
		ul{
			margin: 30px 0px 0px 150px;
			padding: 20px 20px 20px 0px;
			font-family: 'Ubuntu', sans-serif;
			font-weight: 550;
			grid-area: ul;
			li{
				margin: 0px 0px 15px 0px;
				display: grid;
				grid-template-rows: 38px 5px;
				grid-template-columns: 270px;
				align-items: center;
				a{
					color: black;
				}
				img{
					width: 25px;
					margin: 0px 15px;
				}
			}
		}
	}
	form{
		fieldset{
			margin: 30px 0px 0px 500px;
			display: grid;
			font-family: 'Ubuntu', sans-serif;
			font-weight: 550;
			div.contactoDiv{
				--bs-border-color: rgb(91, 17, 141);
				label.comentario.Display{
					display: flex;
				}
			}
			div.enviar{
				display: flex;
				button{
					background-color: rgb(91, 17, 141);
					border-color: black;
				}
			}
		}
	}
}