@import "contacto", "banner", "footer", "novedades", "registro", "prodDescrip";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

$color_1: azure;
$color_2: black;
$font-family_1:'Ubuntu',
sans-serif;
$background-color_1: rgb(91, 17, 141);
$background-color_2: azure;
$background-color_3: rgb(96, 102, 102);

@keyframes XEROX {
	0% {
		border-radius: 0%;
	}

	25% {
		border-radius: 50%;
	}

	40% {
		background-color: rgb(156, 58, 212);
	}

	65% {
		background-color: rgb(210, 141, 250);
	}

	80% {
		background-color: rgb(97, 23, 146);
	}

	90% {
		background-color: rgb(91, 17, 141);
	}
}

* {
	margin: 0%;
	padding: 0%;
}

body {
	background-color: $background-color_2;
	font-family: 'Ubuntu';

	header {
		font-family: $font-family_1;
		font-weight: 600;
		font-style: normal;
		line-height: 25px;
		text-align: center;
		color: $color_2;
		background-color: $background-color_1;
		display: grid;
		justify-content: center;

		div.divHeader {
			display: flex;
			justify-content: center;

			h1 {
				text-align: center;
				font-size: 50px;
				font-weight: 550;
				padding: 20px 0px 5px 0px;
				font-family: $font-family_1;
				background-color: $background-color_1;
				margin-bottom: 0px;

				a {
					color: $color_1;
					font-size: 60px;
					padding: 13px;

					&:hover {
						animation: XEROX 1.1s;
					}
				}
			}

			nav.searcher {
				color: $background-color_1;
				margin-top: 10px;
				display: flex;

				div {
					display: flex;
					flex-direction: column;

					form {
						align-items: baseline;

						.btnSearch {
							background-color: azure;
						}
					}

					div.caja {
						border-style: dashed;
						position: absolute;
						background-color: $background-color_1;
						margin-top: 39px;
						z-index: 1;
						border-bottom-left-radius: 20px;
						border-bottom-right-radius: 20px;
						width: 100%;

						div.divBusqueda {
							border-color: black;
							display: flex;
							align-items: center;

							h2.textJs {
								color: white;
								margin-top: 15px;
							}

							p.textJs {
								color: white;
								margin-bottom: 10px;
							}

							div.divButton {
								button.btnCart {
									margin-bottom: 20px;
								}
							}
						}
					}
				}
			}
		}

		nav.navbar {
			div {
				div.collapse {
					div.dropdown {
						margin-right: 20px;

						button.btn {
							background-color: $background-color_1;
							border: 0px;
							font-size: 20px;
							font-weight: 600;
							letter-spacing: 1px;
							padding: 10px 0px 10px 30px;
							margin: 0px;
						}

						ul.dropdown-menu {
							background-color: $background-color_1;
							margin: 0px;
							padding: 0px;
							--bs-dropdown-min-width: 0rem;

							li.xeroxLista1 {
								display: grid;
								list-style: none;
								padding: 5px 0px 5px 0px;
								text-decoration: none;
								letter-spacing: 1px;
								width: 155px;

								&:hover {
									transition-property: all;
									transition-duration: 95ms;
									background-color: $background-color_2;
								}

								a {
									font-size: 15px;
									color: azure;

									&:hover {
										transition-property: all;
										transition-duration: 95ms;
										color: black;
									}
								}
							}
						}
					}

					div.ajusteJs {
						margin-left: 100px;
					}

					ul.navbar-nav {
						font-family: $font-family_1;
						font-weight: 600;
						font-style: normal;
						font-size: 19px;
						line-height: 25px;
						background-color: $background-color_1;
						margin-bottom: 0px;
						align-items: center;
						flex-direction: row;

						li.xeroxLista {
							display: grid;
							list-style: none;
							padding: 10px 0px 10px 0px;
							text-decoration: none;
							letter-spacing: 1px;
							width: 155px;

							a {
								font-size: 20px;

								&:hover {
									transition-property: all;
									transition-duration: 95ms;
									transform: scale(1.3);
								}
							}
						}
					}

					button.btnShop {
						border-radius: 20px;
						margin-left: 50px;
					}
					div{
						z-index: 1;
						div.carritoUl{
							ul{
								display: flex;
								flex-direction: column;
							}
						}
					}
				}

				div.collapsing {
					div.dropdown {
						button.btn {
							background-color: $background-color_1;
							border: 0px;
							font-size: 20px;
							font-weight: 600;
							letter-spacing: 1px;
							padding: 10px 0px 10px 30px;
							margin: 0px;
						}

						ul.dropdown-menu {
							li.xeroxLista1 {
								margin: 0px;
							}
						}
					}

					ul.navbar-nav {
						font-family: $font-family_1;
						font-weight: 600;
						font-style: normal;
						font-size: 19px;
						line-height: 25px;
						background-color: $background-color_1;
						display: flex;
						flex-wrap: wrap;
						justify-content: space-evenly;
						margin-bottom: 0px;
						align-items: flex-start;

						li.xeroxLista {
							display: inline-block;
							list-style: none;
							padding: 10px 0px 10px 0px;
							text-decoration: none;
							transition-property: all;
							transition-duration: 95ms;
							letter-spacing: 1px;
							width: 155px;
							display: flex;

							a {
								font-size: 20px;

								&:hover {
									transition-property: all;
									transition-duration: 95ms;
									transform: scale(1.5);
								}
							}
						}
					}
				}
			}
		}
	}

	main {
		margin-top: 165px;

		section.sectionMain {
			nav {
				margin-bottom: 10px;

				ol.breadcrumb {
					margin: 27px 0px 0px 20px;

					li {
						text-decoration: none;
					}
				}
			}

			div.carousel {
				margin: 0px 150px 0px 150px;
				height: 550px;

				div.carousel-inner {
					div.carousel-item {
						img {
							height: 550px;
						}

						div {
							h5 {
								color: azure;
							}

							p {
								font-size: 50px;
								font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
								color: azure;
							}
						}
					}
				}
			}

			h2 {
				margin: 30px 30px 0px 30px;
				font-family: $font-family_1;
				font-weight: 700;
			}

			div.lista {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-evenly;
				margin: 0px 20px 0px 20px;

				div.divLista {
					margin: 20px 30px 40px 30px;

					&:hover {
						transform: scale(1.05);
						transition-property: all;
						transition-duration: 95ms;
						background-color: $background-color_1;

						h5 {
							color: azure;
						}

						a {
							color: azure;
						}

						div.collapse {
							div.card {
								background-color: white;
								transform: none;

								p {
									background-color: white;
									transform: none;
								}
							}
						}
					}

					img {
						height: 450px;
						width: 286px;
					}

					div.card-body {
						display: flex;
						align-items: center;
						flex-direction: column;
						justify-content: flex-start;

						h5 {
							font-size: 1.20rem;
						}

						p {
							font-size: 15px;
						}

						a.btn {
							background-color: $background-color_1;
							border: 0;

							&:hover {
								background-color: $background-color_2;
								color: black;
							}
						}

						button.btn-outline-primary {
							display: flex;
							border-width: 0;

							&:hover {
								background-color: $background-color_2;
								color: azure;

								a {
									color: black;
								}
							}
						}
						div{
							button.carritoBtn{
								background-color: $background-color_1;
								border: 0;
								&:hover{
									background-color: $background-color_2;
									color: black;
								}
							}
						}

						div.carDiv {
							margin: 20px 30px 0px 30px;
							background-color: white;
						}
					}
				}

				div.cartaLista {
					img {
						height: 300px;
						width: 286px;
					}
				}
			}
		}
	}
}

nav {
	ul {
		padding-left: 0;

		li {
			a {
				text-decoration: none;
				padding: 5px;
				color: $color_1;
			}
		}
	}

	ol {
		li {
			a {
				color: $color_2;
			}
		}
	}
}

a {
	list-style-type: none;
	text-decoration: none;
}

.row {
	justify-content: space-evenly;
	box-sizing: content-box;
}

.imgJs {
	height: 250px;
	width: 175px;
	margin-top: 30px;
}

@media screen and (min-width: 0px) and (max-width:1535px) {
	body {
		main {
			div.contactoDiv {
				form {
					fieldset {
						margin: 30px 0px 0px 200px;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 0px) and (max-width:1300px) {
	body {
		main {
			justify-items: center;

			div.contactoDiv {
				grid-template-columns: 60vw;
				grid-template-rows: auto;
				grid-template-areas: "ul""form";

				ul {
					margin: 30px 0px 0px 50px;
					padding: 0px 0px 0px 120px;
				}

				form {
					fieldset {
						margin: 30px 0px 0px 150px;
					}
				}
			}
		}
	}
}

@media screen and (max-width:1050px) {
	body {

		main {
			section.sectionMain {
				div.carousel {
					margin: 0px 100px 0px 100px;
					height: 450px;

					div.carousel-inner {
						div.carousel-item {
							img {
								height: 450px;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width:0px) and (max-width:909px) {
	body {
		header {
			display: flex;
			flex-direction: column;

			div.divHeader {
				display: flex;
				flex-direction: column;
				align-items: center;

				nav.searcher {
					div {
						div.caja {
							margin-top: 50px;
						}
					}
				}
			}

			nav.navbar {
				div {
					button {
						display: flex;
						justify-content: flex-start;
						align-items: center;
						margin-bottom: 10px;
					}

					div.collapse {
						div.dropdown {
							margin-left: 0px;
						}

						ul.navbar-nav {
							display: grid;
							justify-content: start;

							li.xeroxLista {
								display: grid;
								justify-content: start;
								padding-left: 30px;
								width: 200px;
							}
						}

						button.btnShop {
							margin-left: 0px;
						}
					}

					div.collapsing {
						ul.navbar-nav {
							li.xeroxLista {
								justify-content: flex-start;
								padding-left: 30px;
								width: 200px;
							}
						}

						button.btnShop {
							border-radius: 20px;
						}
					}
				}
			}
		}

		main {
			margin-top: 217px;

			section.sectionMain {
				div.carousel {
					margin: 0px 50px 0px 50px;
					height: 300px;

					div.carousel-inner {
						div.carousel-item {
							img {
								height: 300px;
							}

							div {
								p {
									font-size: 25px;
								}
							}
						}
					}
				}

				h2 {
					margin-top: 20px;
					padding: 10px 0px 0px 0px;
				}

				section.banner,
				.banner1,
				.banner2,
				.banner3 {
					p {
						font-size: 30px;
					}
				}

				div.lista1 {
					display: flex;
					flex-direction: column;

					div.divLista {
						margin: 20px 30px 0px 30px;
					}
				}
			}

			section.sectProducto {

				div {
					flex-direction: column;
					div.divProd {
						div.prodTitulo {
							margin-top: 80px;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width:910px) {
	body {
		header {
			nav.navbar {
				div {
					button.navbar-toggler {
						display: none;
					}

					div.divHeader {
						nav.searcher {
							div {
								div.caja {
									margin-top: 50px;
								}
							}
						}
					}
				}

				div.collapse {
					display: flex !important;
					flex-basis: auto;
					align-items: center;

					div.dropdown {
						border-style: none;
					}
				}
			}
		}
	}
}

@media screen and (min-width:0px) and (max-width:576px) {
	body {
		main {
			section.sectionMain {
				div.carousel {
					margin: 0px;
					height: 250px;

					div.carousel-inner {
						div.carousel-item {
							img {
								height: 250px;
							}

							div {
								p {
									font-size: 20px;
								}
							}
						}
					}
				}
			}

			div.contactoDiv {
				ul {
					margin: 30px 0px 0px 50px;
					padding: 5px 0px 0px 10px;
				}

				form {
					fieldset {
						margin: 30px 0px 0px 70px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 400px) {
	body {
		main {
			section.sectionMain {
				div.lista {
					margin: 0px;

					div.card {
						margin: 20px 0px 30px 0px;
					}
				}
			}
		}
	}
}