$color_1: azure;
$color_2: black;
$font-family_1: Arial, Helvetica, sans-serif;
$background-color_1: rgb(106, 9, 170);
$background-color_2: azure;
$background-color_3: rgb(96, 102, 102);

@keyframes XEROX {
	0% {
		border-radius: 40%;
	}
	25% {
		border-radius: 50%;
	}
	40% {
		background-color: rgb(156, 58, 212);
	}
	95% {
		background-color: rgb(210, 141, 250);
	}
}
* {
	margin: 0%;
	padding: 0%;
}
h1 {
	text-align: center;
	font-size: 50px;
	font-weight: 550;
	padding: 20px 0px 0px 0px;
	font-family: $font-family_1;
	background-color: $background-color_1;
	margin-bottom: 0px;
	a {
		color: $color_1;
	}
}
.tituloXerox {
	padding: 13px;
	&:hover {
		animation: XEROX 1s;
	}
}
h2 {
	margin: 30px 30px 0px 30px;
	font-family: $font-family_1;
	font-weight: 700;
}
h3 {
	margin: 30px 30px 0px 30px;
	font-family: $font-family_1;
	font-weight: 700;
	font-size: 17px;
}
h4 {
	text-transform: uppercase;
	font-weight: 700;
}
a {
	list-style-type: none;
	text-decoration: none;
}
header {
	font-family: $font-family_1;
	font-weight: 600;
	font-style: normal;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	color: $color_2;
	background-color: $background-color_1;
	padding: 5px;
	display: grid;
}
.xeroxNav {
	font-family: $font-family_1;
	font-weight: 600;
	font-style: normal;
	font-size: 19px;
	line-height: 25px;
	background-color: $background-color_1;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-bottom: 0px;
	align-items: center;
}
.xeroxLista {
	display: inline-block;
	list-style: none;
	padding: 10px;
	text-decoration: none;
	transition-property: all;
	transition-duration: 95ms;
	letter-spacing: 1px;
	width: 160px;
	&:hover {
		transform: scale(1.5);
	}
}
.divInicio {
	display: flex;
	align-content: center;
	background-color: $background-color_1;
}
.navbarLinks {
	background-color: $background-color_1;
	display: flex;
	flex-direction: column;
}
.xeroxNav1 {
	font-family: $font-family_1;
	font-weight: 600;
	font-style: normal;
	font-size: 19px;
	line-height: 25px;
	background-color: $background-color_1;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin-bottom: 0px;
	align-items: flex-start;
	align-content: flex-start;
}
.xeroxLista1 {
	display: inline-block;
	list-style: none;
	padding: 10px 10px 10px 30px;
	text-decoration: none;
	transition-property: all;
	transition-duration: 95ms;
	letter-spacing: 1px;
	&:hover {
		transform: scale(1.4);
	}
}
body {
	background-color: $background-color_2;
}
.breadcrumb {
	margin: 20px 0px 0px 20px;
}
.carousel{
	margin: 0px 100px 0px 100px;
}
main {
	margin-top: 150px;
	div {
		ul {
			li {
				img {
					margin: 0px 15px;
				}
			}
		}
	}
}
nav {
	margin-bottom: 10px;
	ul {
		li {
			a {
				text-decoration: none;
				padding: 5px;
				color: $color_1;
			}
		}
	}
	ol {
		li {
			a {
				color: $color_2;
			}
		}
	}
}
ul {
	padding-left: 0;
}
.row {
	justify-content: space-evenly;
}
.imagenLista {
	margin: 30px 30px 30px 30px;
	display: inline-block;
	font-family: $font-family_1;
	font-weight: 600;
	text-align: center;
	font-size: 14px;
	display: grid;
	justify-items: center;
	text-transform: uppercase;
	justify-content: center;
}
.imagenCartas {
	height: 250px;
	width: 250px;
}
footer {
	font-family: $font-family_1;
	margin-top: 110px;
	padding: 30px;
	color: $color_1;
	background-color: $background-color_3;
	display: flex;
	flex-direction: column;
}
.footerRedes {
	width: 30px;
}
section {
	a {
		text-decoration: none;
	}
	ul {
		li {
			img {
				height: 300px;
				width: 200px;
				transition-duration: 95ms;
				&:hover {
					transform: scale(1.2);
				}
			}
		}
	}
}

.contactoMain {
	display: grid;
}
.contactoNav {
	margin: 30px 0px 0px 150px;
	padding: 20px 20px 20px 0px;
	font-family: $font-family_1;
	font-weight: 550;
	grid-area: ul;
}
.contactoComentario {
	margin: 0px 0px 15px 0px;
	display: grid;
	grid-template-rows: 38px 5px;
	grid-template-columns: 270px;
}
.contactoInfo {
	margin: 30px 0px 0px 500px;
	border: 0ch;
	display: grid;
	font-family: $font-family_1;
	font-weight: 550;
}
.contactoDiv {
	margin: 20px 0px 20px 0px;
	display: grid;
	align-items: start;
	grid-template-columns: 1fr;
	width: 600px;
	grid-template-areas: "ul form";
}
div {
	ul {
		li {
			a {
				color: $color_2;
			}
			img {
				width: 25px;
			}
		}
	}
}
.comentarioDisplay {
	display: flex;
}
.enviar {
	display: flex;
}
@media screen and (min-width:0px) and (max-width:768px) {
	h2 {
		margin-top: 20px;
		padding: 10px 0px 0px 0px;
	}	
	nav.row {
		display: none;
	}
	header {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}
	.carousel{
		margin: 0px 50px 0px 50px;
	}
}
@media screen and (min-width:768px) {
	.divInicio {
		display: none;
	}
	.navbarLinks {
		display: none;
	}
}
@media screen and (min-width: 0px) and (max-width:1300px) {
	.contactoMain {
		justify-items: center;
	}
	.contactoDiv {
		grid-template-columns: 60vw;
		grid-template-rows: auto;
		grid-template-areas: "ul" "form";
	}
	.contactoNav {
		margin: 30px 0px 0px 50px;
		padding: 0px 0px 0px 120px;
	}
	.contactoInfo {
		margin: 30px 0px 0px 150px;
	}
}
@media screen and (min-width: 0px) and (max-width:1535px) {
	.contactoInfo {
		margin: 30px 0px 0px 200px;
	}
}
@media screen and (min-width:0px) and (max-width:576px) {
	.contactoNav {
		margin: 30px 0px 0px 35px;
		padding: 5px 0px 0px 40px;
	}
	.contactoInfo {
		margin: 30px 0px 0px 95px;
	}
	.carousel{
		margin: 0px;
	}
}

